<div class="conteiner">
<footer class="py-3 my-6" style="height: 150px;">
           <div style="padding-top: 10px; display: flex; flex-direction: column; align-items: center;">
            <img style="height:20px; width: 50px; margin: 5px;" src="/images/logo blanco.png" alt="">
            <p class="text-center text-body-secondary" style="font-family: 'Montserrat', sans-serif;
            font-weight: 300; font-size: 15px;">RGB Artes Graficas</p>
        </div>
      

   <!--  <div class="footer_logos">
    <div class="facebook">
        <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><i class="fa fa-brands fa-facebook"></i></a>
        <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><p>@rossogustavo</p></a>
    </div>
    <div class="twitter">
    <a href="https://twitter.com/rgbartesgraf"><i class="fa fa-brands fa-twitter"></i></a>
    <a href="https://twitter.com/rgbartesgraf"><p>@rgbartesgraf</p></a>
    </div>
    
     </div> -->
   
</footer>
</div>
</body>
</html>