<footer style="margin-top: 200px; height: 250px; background-color:#373e98;">

    <div class="d-flex flex-column align-items-center py-5">
        <span class="mb-3 mb-md-0 text-light">© RGB Artes Graficas</span>
        <div class="d-flex align-items-center">
            <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><i style="font-size: 20px;" class="fa fa-brands fa-facebook text-light  p-3"></i></a>
            <a href="https://api.whatsapp.com/send?phone=543537513657"><i style="font-size: 20px;" class="fa fa-brands fa-whatsapp text-light p-3"></i></a>
           <a href="https://www.youtube.com/@gustavorosso7650"><i style="font-size: 20px;" class="fa fa-brands fa-youtube text-light p-3"></i></a>
        </div>
    </div>
</footer>

</body>

</html>


<!--
<div class="conteiner">
<footer class="py-3 my-6" style="height: 150px;">
           <div style="padding-top: 10px; display: flex; flex-direction: column; align-items: center;">
            <img style="height:20px; width: 50px; margin: 5px;" src="/images/logo blanco.png" alt="">
            <p class="text-center text-body-secondary" style="font-family: 'Montserrat', sans-serif;
            font-weight: 300; font-size: 15px;">RGB Artes Graficas</p>
        </div>
</footer>
</div>

</body>
-->