<footer>
    <div class="div_footer">
        <div class="footer_img">
            <img src="/images/logo blanco.png" alt="">
            <h1>RGB Artes Graficas</h1>
        </div>
    <div class="footer_logos">
    <div class="facebook">
        <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><i class="fa fa-brands fa-facebook"></i></a>
        <a href="https://www.facebook.com/rossogustavo.com.ar/?fref=ts"><p>@rossogustavo</p></a>
    </div>
    <div class="twitter">
    <a href="https://twitter.com/rgbartesgraf"><i class="fa fa-brands fa-twitter"></i></a>
    <a href="https://twitter.com/rgbartesgraf"><p>@rgbartesgraf</p></a>
    </div>
    
     </div>
    </div>
    
</footer>
</body>
</html>