<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/bc6659b6c4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detailStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;800&display=swap" rel="stylesheet">
    <title>RGB cartas graficas</title>
</head>
<body>
   
    <header>
        <nav>
          
           <img src="/images/logo-final.png" alt="">
            <div>
            
            <div class="home">
                
                <i class="fas fa-home"></i>
                <h1><a href="/">inicio</h1></a>
            </div>
            
            <!--<h1><a href="/guia">guia telefonica</a></h1>  <<-->

            <div class="allPhotos">
                <i class="fas fa-camera"></i>
                <h1><a href="/albums/list">todas las fotos</a></h1>
            </div>
           
            <form action="/albums/search"> 
                <input type="text" name="search" placeholder="Buscar albums por su nombre">
               <button><a class="fas fa-search" id="search"></a></button> 
            </form>
        </div>
        </nav>
    </header>
   