<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;800&display=swap" rel="stylesheet">
    <title>RGB cartas graficas</title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo-final.png" alt="">
            <div>
            <h1><a href="/inicio">inicio</h1></a>
            <h1><a href="/guia">guia telefonica</a></h1>
            <h1><a href="/fotos">fotos anteriores</a></h1>
        </div>
        </nav>
    </header>
</body>
</html>