/*de admin*/
#update-title{
    margin: 15px;
    text-align: center;
}
.admin-button-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.admin-button {
    background-color: #373e98;
    color: #ebebeb;
    width: 150px;
    height: 60px;
    margin: 10px;
}
.admin-button a{
    color:#ebebeb;
}

.update-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.update-box img{
    width: 50%;
    margin: 20px;
}

.create-box{
    display: flex;
    flex-wrap: wrap;
}

/*delete photo*/
.delete-photo-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.photos_list_father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.photos_list{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    padding-left:15px;
    padding-right:15px;
    padding-top: 15px;
    margin-top: 5px;
    background-color:white;
    padding-bottom: 10px;
}

.photos_list img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px;
}