@media (max-width: 768px){
    input{
        width: 75% !important;
    }
    nav{
        height: 100px;
    }
   .title_body{
    font-size: 30px !important;
   }
   .jumbotron p{
    font-size: 20px;
   }
   #album_name{
    font-size: 30px !important;
   }
   
   h2{
    font-size: 25px;
   }
   iframe{
    width: 350px;
    height: 200px;
   }
    .album_box_father{
        padding: 0px;
        margin-bottom: 55px;
    }
    .album_box{
        width: 50%;
        padding-bottom: 10px;
    }
   
    .list-photos-order{
        width: 50%;
    }
    .order-text h2{
        font-size: 25px;
    }
    .order-text{
        margin-bottom: 55px;
    }
    
    footer{
    display: none;   
 }   
 
header img, header input ,.search-form{
    display: none;
}
.allPhotos,.home,.register{
    align-content:center ;
    justify-content: center;
    margin: 7px;
}
nav h1{
    margin: 5px;
    font-family: 'Montserrat Medium', sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}


   }