<%- include('../partials/header')  %>

<div class="register_box_father">
<h1>CREAR USUARIO</h1>

<form class="register_box" action="/user/register" method="POST">
    
    <label for="name">NOMBRE DE USUARIO:</label>
    <input type="text" name="name" >

    <label for="email">EMAIL:</label>
    <input type="email" name="email" >

    <label for="address">DIRECCION:</label>
    <input type="text" name="address" >

    <label for="password">CONTRASENA:</label>
    <input type="password" name="password" >

    <button type="submit">CREAR</button>

</form>
</div>

<%- include('../partials/footer')  %>